@model LoginViewModel

@{
    ViewData["Title"] = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="container-sm">
    <div class="row">
        <div class="col-md">
            <h3 class="text-muted mb-3">Login</h3>
            @if (Model.Errors is not null && Model.Errors.Any())
            {
                @foreach (var error in Model.Errors)
                {
                    <div class="alert alert-danger" role="alert"><strong>@error.Name:</strong> @error.Message</div>
                }
            }
            <form asp-controller="Accounts" asp-action="Login" method="post">
                <input type="hidden" asp-for="ReturnUrl" />
                <div class="form-group mb-2">
                    <label for="name" class="form-label">
                        Name:
                    </label>
                    <input type="text" id="name" class="form-control" placeholder="Name..." asp-for="Name">
                    <span class="form-text d-block" asp-validation-for="Name"></span>
                </div>
                <div class="form-group mb-2">
                    <label for="password" class="form-label">
                        Password:
                    </label>
                    <input type="password" id="password" class="form-control" placeholder="Password..." asp-for="Password">
                    <span class="form-text d-block" asp-validation-for="Password"></span>

                </div>
                <div class="form-group mb-2">
                    <label for="rememberMe" class="form-label"> Remember me</label>
                    <input type="checkbox" id="rememberMe" class="form-check-input" asp-for="RememberMe">
                </div>
                <div class="mb-1">
                    <button type="submit" class="btn btn-outline-primary">Login</button>
                </div>
                <div>
                    <a class="link-dark" asp-controller="Accounts" asp-action="Register" asp-route-returnUrl="@Model.ReturnUrl">Go to Registration</a>
                </div>
            </form>
        </div>
        <div class="col-md">
            @await Html.PartialAsync("_ExternalAuthentication", @Model.ReturnUrl)
        </div>
    </div>
</div>